<main class="container">
  <%= turbo_frame_tag "first_turbo_frame" do %>
    <h1>Quotes</h1>

    <div class="header">
      <%= link_to "New quote",
        new_quote_path,
        data: {turbo_frame: "_top"},
                  class: "btn btn--primary" %> </div>

    <%= render @quotes %>
  <% end %>
</main>
